*
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.contact_container
{
    padding: 30px 40px;
    width: 100%;
    background: rgb(197, 184, 184);
}
.contact_container .contant
{
    padding: 10px 20px;
    max-width: 100%;
}
.contact_container .contant h2
{
    text-transform: uppercase;
    font-size: 32px;
    color: green;
    font-weight: 200;
}
.contact_container .contant .form
{
    margin-top:30px;
    padding: 20px 30px;
    background: rgb(236, 231, 231);
    border-radius: 10px;
    box-shadow:rgba(19, 170, 5, 0.24) 10px 10px 15px;
}
.contact_container .contant .form form
{
    display: flex;
    flex-direction: column;
}

.contact_container .contant .form form input
{
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    width: 400px;
    margin-top:20px;
    margin-left:35%
}
.contact_container .contant .form form textarea
{
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    width: 400px;
    margin-top: 20px;
    resize:none;
    margin-left: 35%;
}

.contact_container .contant .form button
{
    border:none;
    outline: none;
    font-size:22px;
    color: #0f6803;
    background: none;
    margin-right:120px;
    margin-top:20px;
    cursor: pointer;
}
