*
{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.free {
    padding: 10px 30px;
    width: 100%;
    background: linear-gradient(to right, #000000, #444141);
    display: flex;
}
.free .icon
{
    color :rgb(34, 150, 5);
    font-size: 32px;
    
}
.free p
{
    margin-left: 10px;
    color:#f6f7f9;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
}
.main_header
{
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid #010f1c;
    background: #1a1919;
    justify-content: center;
}
.main_header .container
{
    display: flex;
    justify-content: space-between;
}

.main_header .container .search_box
{
    margin-right: 10px;  
    margin-top:20px;  
}
.main_header .container .search_box input
{
    outline: none;
    padding: 10px 20px;
    border:3px solid #1a1919;
    width: 350px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(34, 150, 5);
    background-color: #111010;
}

.main_header .container .search_box button
{
    border:none;
    outline:none;
    padding: 10px 20px;
    cursor:pointer;
    background: #111010;
    color:rgb(43, 199, 5);
}
.main_header .container .icon
{
    display: flex;
    margin-right: 10px;
    margin-top:30px; 
}
.main_header .container .icon .account 
{
    display: flex;
    margin-right: 30px;
}
.main_header .container .icon .account .user_icon
{
    margin-right: 10px;
    font-size: 22px;
    color: rgb(43, 199, 5);
    cursor:pointer;
}
.main_header .container .icon .account  p{
    margin-right: 5px;
    margin-top: 2px;
    font-family:'Times New Roman', Times, serif ;
    color: rgb(43, 199, 5);
}
.main_header .container .icon .second_icon
{
    display: flex;
    font-size: 30px;
    color: green;
}
.main_header .container .icon .second_icon .link
{
    margin-right: 5px;
    font-size: 22px;
    cursor:pointer;
    color:#0989ff
}
.header
{
    width: 100%;
    padding: 20px 30px;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
}

.header .container
{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}
.header .container .nav ul
{
display: flex;
}
.header .container .nav ul li
{
    margin-left:20px;
    list-style: none;
}
.header .container .nav ul li .link
{
    text-decoration: none;
    color: #010f1c  ;
    transition:0.5s;
}
.header .container .nav ul li .link:hover
{
    color:#00f034;
}
.header .container .auth
{
    margin-right: 20px;
    font-size: 22px;
    cursor:pointer;
}
.header .container .auth button
{
    margin-right: 10px;
    font-size: 22px;
    cursor:pointer;
    outline: none;
    border:none;
    background: none;
}

